module.exports = {
    gcloud_project_id: 'hallowed-byte-144310',
    gcloud_bucket: 'majestic-spray-marketing-dev',
    gcloud_logging_bucket: 'spray_marketing_logs',
    googleAuth : {
        'clientID'      : '941389511654-1ohjul136naactes0jr3a5f0hlnvq63g.apps.googleusercontent.com',
        'clientSecret'  : 'y-bTbdiZP-kVO_qSm09nmEFn',
        'callbackURL'   : 'urn:ietf:wg:oauth:2.0:oob","http://localhost'
    }
};